.DS_Store

# Advanced 샘플 프로젝트
/sample/Advanced/DoveRunnerFairPlayAdvanced.xcworkspace/
/sample/Advanced/DoveRunnerFairPlayAdvanced.xcodeproj/xcuserdata/
/sample/Advanced/DoveRunnerFairPlayAdvanced.xcodeproj/xcshareddata/
/sample/Advanced/DoveRunnerFairPlayAdvanced.xcodeproj/project.xcworkspace/xcuserdata
/sample/Advanced/DoveRunnerFairPlayAdvanced.xcodeproj/project.xcworkspace/xcshareddata/

# Simple 샘플 프로젝트
/sample/Simple/Objc/DoveRunnerFairPlayObjC.xcodeproj/xcuserdata/
/sample/Simple/Objc/DoveRunnerFairPlayObjC.xcodeproj/xcshareddata/
/sample/Simple/Objc/DoveRunnerFairPlayObjC.xcodeproj/project.xcworkspace/xcuserdata/
/sample/Simple/Objc/DoveRunnerFairPlayObjC.xcodeproj/project.xcworkspace/xcshareddata/

/sample/Simple/Swift/DoveRunnerFairPlaySwift.xcodeproj/xcuserdata/
/sample/Simple/Swift/DoveRunnerFairPlaySwift.xcodeproj/xcshareddata/
/sample/Simple/Swift/DoveRunnerFairPlaySwift.xcodeproj/project.xcworkspace/xcuserdata/
/sample/Simple/Swift/DoveRunnerFairPlaySwift.xcodeproj/project.xcworkspace/xcshareddata/
