.DS_Store

# Advanced 샘플 프로젝트
/sample/Advanced/PallyConFPSAdvanced.xcworkspace/
/sample/Advanced/PallyConFPSAdvanced.xcodeproj/xcuserdata/
/sample/Advanced/PallyConFPSAdvanced.xcodeproj/xcshareddata/
/sample/Advanced/PallyConFPSAdvanced.xcodeproj/project.xcworkspace/xcshareddata/

# Simple 샘플 프로젝트
/sample/Simple/Objc/PallyConFPSSimple.xcodeproj/xcuserdata/
/sample/Simple/Objc/PallyConFPSSimple.xcodeproj/xcshareddata/
/sample/Simple/Objc/PallyConFPSSimple.xcodeproj/project.xcworkspace/xcuserdata/
/sample/Simple/Objc/PallyConFPSSimple.xcodeproj/project.xcworkspace/xcshareddata/

/sample/Simple/Swift/PallyConFPSSimple.xcodeproj/xcuserdata/
/sample/Simple/Swift/PallyConFPSSimple.xcodeproj/xcshareddata/
/sample/Simple/Swift/PallyConFPSSimple.xcodeproj/project.xcworkspace/xcuserdata/
/sample/Simple/Swift/PallyConFPSSimple.xcodeproj/project.xcworkspace/xcshareddata/
